[
    {
        "datesToPost": ["2022-04-24T20:11:10.193Z"],
        "description": "the description of this post.",
        "hashtags": [
            "#help",
            "#ayo",
            "#bruh"
        ],
        "mediaSource": "nameOfFileInMediaFolder.jpg",
        "meta": {
            "thumbnail": "nameOfFileInMediaFolder.jpg",
            "private": false,
            "subreddits": [
                "r/duckduckgo"
            ]
        },
        "platforms": [
            "linkedin",
	    "reddit"
        ],
        "title": "title for this post. linkedin doesn't have titles, but other social medias do ( like youtube )"
    }
]
